.map-wrapper-svg path,
.map-wrapper-svg polygon {
  fill: #3b82f6;
  transition: fill 0.15s;
  cursor: pointer;
}

.map-wrapper-svg path:hover,
.map-wrapper-svg polygon:hover {
  fill: #1e40af;
}

.map-wrapper-svg path.active,
.map-wrapper-svg polygon.active {
  fill: #22c55e;
}
